<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>
    <div id="app">
        <form @submit.prevent="getRecipeByIngredient">
            {% csrf_token %}
            <label for="text">Search by Ingredients:</label>
            <input v-model="userIngredient" type="text" id="text" />
            <input type="submit" value="Submit">
        </form>
        <hr />
        <p id="test" v-if="showRecipeDetails" v-html="showRecipeDetails"></p>
        <article v-for="recipe in userRecipes">
            <div>
                <h2 @click="getRecipeDetails(recipe)">
                    [[ recipe.title ]]
                    <a @click='saveRecipe(recipe)'>
                        <button>Save</button>
                    </a>
                </h2>
            </div>
        </article>
    </div>

    <script>
        const App = {
            delimiters: ['[[', ']]'],
            data() {
                return {
                    userIngredient: '',
                    userRecipes: [],
                    spotlightInstructions: {},
                    showRecipeDetails: '',
                }
            },

                mounted() {
                this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            },

            methods: {

                getRecipeByIngredient() {
                    axios({
                        method: 'get',
                        url: 'https://api.spoonacular.com/recipes/findByIngredients',
                        headers: { Accept: 'application/json' },
                        params: { apiKey: 'c0706aec64ba455eb06753d6e855a6e5', ingredients: this.userIngredient, number: 20 }
                    })
                        .then(response => {
                            // console.log(response.data)
                            this.userRecipes = response.data
                        })
                },

                getRecipeDetails(recipe) {
                    id = recipe.id
                    axios({
                        method: 'get',
                        url: `https://api.spoonacular.com/recipes/${id}/information`,
                        headers: { Accept: 'application/json' },
                        params: { apiKey: 'c0706aec64ba455eb06753d6e855a6e5' }
                    })
                        .then(response => {
                            // console.log(response.data)
                            this.showRecipeDetails = response.data.instructions
                        })
                },

                saveRecipe(recipe) {
                    // console.log(id, "id")
                    axios ({
                        method: 'post',
                        url: '/new/',
                        headers: { 'X-CSRFToken': this.csrf_token },
                        data: {  }
                    })
                    .then(response => {
                        console.log(recipe)
                    })
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>