<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner: Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-stone-200">
    <header class="bg-indigo-200 border-2 border-indigo-200">
        <h1 class="text-4xl font-bold py-2 text-center">The Meal Planner</h1>
        <h3 class="text-2xl font-semibold pb-3 text-center">A Meal Plan By You, FOR You!</h3>
        <nav class="flex lg:justify-evenly space-x-4 text-center mb-2">
            <a href='/' class="rounded-lg py-2 px-4 text-slate-700 font-medium border-4 bg-indigo-300 hover:bg-fuchsia-300">Home</a>
            {% if user.is_authenticated %}
            <a href='/search/' class="rounded-lg py-2 px-4 text-slate-700 font-medium border-4 bg-indigo-300 hover:bg-fuchsia-300">Search</a>
            <a href='/profile/' class="rounded-lg py-2 px-4 text-slate-700 font-medium border-4 bg-indigo-300 hover:bg-fuchsia-300">Profile</a>
            <a href='/users/logout/' class="rounded-lg py-2 px-4 text-slate-700 font-medium border-4 bg-indigo-300 hover:bg-fuchsia-300">Log Out</a>
            {% else %}
            <a href='/users/login/' class="rounded-lg py-2 px-4 text-slate-700 font-medium border-4 bg-indigo-300 hover:bg-fuchsia-300">Log In</a>
            {% endif %}
        </nav>
    </header>
    {% if user.is_authenticated %}
    <h1 class="text-3xl font-semibold p-3">Welcome {{ user | title }} </h1>
    <div class="flex flex-wrap flex-row">
        <div class="w-2/5">
            {% for recipe in recipes %}
            <div class="font-semibold text-xl py-3 px-6">
                {{ recipe.recipe_info.title }}
                <a href="{% url 'MealPlanner:details' recipe.id %}">
                    <button class="ml-2 mt-3 font-normal text-base cursor-pointer border-2 border-indigo-400 rounded-lg bg-indigo-300 hover:bg-fuchsia-300">
                        Details
                    </button>
                </a>
                <a href="{% url 'MealPlanner:delete' recipe.id %}"> 
                    <button class="ml-2 mt-3 font-normal text-base cursor-pointer border-2 border-indigo-400 rounded-lg bg-indigo-300 hover:bg-fuchsia-300">
                        Delete
                    </button>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="w-3/5">
            <img src="{{ selected_recipe.recipe_info.image }}">
            <div class="text-xl font-bold">{{ selected_recipe.recipe_info.title }}</div>
            <div class="mx-3">{{ selected_recipe.recipe_info.summary | safe }}</div>
            {% if selected_recipe.recipe_info.extendedIngredients != None %}
            <ol class="text-xl font-semibold">Ingredients:
                {% for ingredient in selected_recipe.recipe_info.extendedIngredients %}
                <li class="text-base font-normal px-3">{{ ingredient.original }}</li>
                {% endfor %}
            </ol>
            <div class="text-xl font-semibold">Instructions:</div>
            {% endif %}
            <div class="text-base font-normal px-3">{{ selected_recipe.recipe_info.instructions | safe }}</div>
        </div>
    </div>
    {% else %}
    <p class="p-4 font-semibold">Not sure how you got here, but please follow <a href="/users/login/" class="underline underline-offset-1 text-red-700">this link</a> to log in and view this page.</p>
    {% endif %}
</body>
</html>