<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner Random Recipe</title>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">

        <img :src="randomRecipePhoto">

        <h2>[[ randomRecipeTitle ]]</h2>

        <div v-html="randomRecipeSummary"></div>

    </div>

    <script>
        const App = {
            delimiters: ['[[', ']]'],
            data() {
                return {
                    randomRecipeInstructions: '',
                    randomRecipePhoto: '',
                    randomRecipeTitle: '',
                    randomRecipeSummary: '',
                }
            },

            created() {
                this.getRandomRecipe()
            },

            methods: {
                getRandomRecipe() {
                    axios({
                        method: 'get',
                        url: 'https://api.spoonacular.com/recipes/random',
                        headers: { Accept: 'application/json' },
                        params: { apiKey: 'c0706aec64ba455eb06753d6e855a6e5' }
                    })
                        .then(response => {
                            console.log(response.data.recipes)
                            this.randomRecipeInstructions = response.data.recipes[0].instructions
                            this.randomRecipePhoto = response.data.recipes[0].image
                            this.randomRecipeTitle = response.data.recipes[0].title
                            this.randomRecipeSummary = response.data.recipes[0].summary
                        })
                }
            }

        }

        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>